"*":
  core:
    disabledPackages: [
      "file-icons"
      "vim-mode"
      "welcome"
    ]
    projectHome: "/Users/stefanhagen/Desktop/Git"
    telemetryConsent: "limited"
  editor:
    preferredLineLength: 120
  "exception-reporting":
    userId: "61508313-76a9-4533-b034-76d0284cccb6"
  "linter-rubocop": {}
  welcome:
    showOnStartup: false
